/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBanner {
  padding: 6rem 1rem; /* 기본보다 더 큰 패딩 적용 */
  min-height: 80vh; /* 최소 높이 설정 (기본보다 늘리기) */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
